header{
    text-align: center;    
    background-color: rgba(13, 175, 8, 0.753);
    background-image: linear-gradient(rgb(9, 129, 9), rgb(0, 68, 0));
    font-family:Arial, Helvetica, sans-serif;
    color:white   
}
nav{
    text-align: left;
}
h2,h3{
    @font-face{
        font-family: ;
        src: url("android.ttf") format(truetype);
    }
    background-color: greenyellow;
    background-image : linear-gradient(to right, rgb(82, 124, 9), rgba(183, 204, 152, 0.445))
}